<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" (keydown.enter)="$event.preventDefault()">
  <div class="modal-header custom">
    <img class="logo" src="./assets/images/logo-small.png">
    <h4 class="modal-title">{{title}}</h4>
    <br>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body custom position-relative">

    <div class="form-row form-dashboard" *ngIf="errorMsg!=''">
      <div class="form-group col-12">
        <div class="alert alert-danger rounded-0 m-0" role="alert">
          {{errorMsg}}
        </div>
      </div>
    </div>


    <div *ngIf="!isLoading" class="dashboard-content p-2 border">


      <div class="form-row form-dashboard mb-1">
        <div class="form-group col-12">
          <label class="col-form-label required" for="txtAllergySubstance">Substance</label>
          <input class="form-control col required" id="txtAllergySubstance" formControlName="txtAllergySubstance" />
        </div>
      </div>
      <div class="form-row form-dashboard mb-1">
        <div class="form-group col-4">
          <label class="col-form-label required" for="ddSeverity">Severity</label>
          <select formControlName="ddSeverity" class="form-control required">
            <option value="Mild">Mild</option>
            <option value="Moderate">Moderate</option>
            <option value="Severe">Severe</option>
          </select>
        </div>

        <div class="form-group col-8">
          <label class="col-form-label" for="txtReaction">Reaction</label>
          <input class="form-control col" id="txtReaction" formControlName="txtReaction" />
        </div>

      </div>


      <div class="form-row form-dashboard mb-1">

        <div class="form-group col-4">
          <label class="col-form-label required " for="dpOnsetDate">Onset Date</label>
          <div class="input-group ">
            <input class="form-control date-control required" placeholder="mm/dd/yyyy" firstDayOfWeek="7" name="dpOnsetDate"
              formControlName="dpOnsetDate" ngbDatepicker #dpOnsetDate="ngbDatepicker">
            <span class="input-group-btn">
              <button class="btn date-control-btn" (click)="dpOnsetDate.toggle()" type="button">
              </button>
            </span>
          </div>
        </div>

        <div class="form-group col-4">
          <label class="col-form-label required" for="ddStatus">Status</label>

          <select class="col form-control px-1 required" id="ddStatus" formControlName="ddStatus" labelForId="ddStatus">
            <option value="A">Active</option>
            <option value="I">In Active</option>
          </select>

        </div>

      </div>
    </div>

    <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
      <div class="div-ui-blocker-message-box ">
        <i class="fas fa-spinner fa-spin mr-1"></i>Loading...
      </div>
    </div>

  </div>
  <div class="modal-footer custom">
    <button type="button" style="width: 80px;" class="btn btn-dark btn-sm"
      (click)="activeModal.dismiss('Cross click')">Cancel</button>
    <button style="width: 80px;" class="btn btn-success btn-sm" type="submit">Save</button>
  </div>
</form>