<div class="rounded-top mt-8" [ngClass]="{
  'encounter-header-highlight': addEditView==true,
  'encounter-header': addEditView==false
}">
  <div class="title pl-8">Plan Of Care</div>
  <ul class="nav color-buttons align-items-center" *ngIf="canView && canAddEdit">

    <button *ngIf="!addEditView && canAddEdit && canView" (click)="onAddNew()"
      class="nav-link green px-2 py-0 top-right-radius">
      <i class="far fa-plus-square pr-1"></i>Add
    </button>

    <button *ngIf="addEditView" class="nav-link encounter-btn-save px-2 py-0" (click)="onSave()">
      <i class="far fa-save pr-1"></i>Save
    </button>


    <button *ngIf="addEditView" class="nav-link encounter-btn-cancel px-2 py-0 top-right-radius" (click)="onCancel()">
        <i class="fas fa-times  pr-1"></i>Cancel
    </button>


    <!--
    <a *ngIf="!addEditView" class="nav-link green px-2 py-0 top-right-radius" (click)="onAddNew()">
      <i class="far fa-plus-square pr-1"></i>Add</a>
   <a *ngIf="!addEditView" class="nav-link blue px-2 py-0 top-right-radius">
      <i class="fas fa-history pr-1"></i>History
    </a>
    <a *ngIf="addEditView" class="nav-link encounter-btn-save px-2 py-0" (click)="onSave()">
      <i class="far fa-save pr-1"></i>Save
    </a>
    <a *ngIf="addEditView" class="nav-link btn-dark px-2 py-0 top-right-radius" (click)="onCancel()">
      <i class="fas fa-times pr-1"></i>Cancel
    </a>
    -->
  </ul>
</div>


<div class="border-content-box light-gray-bg border-top-0 rounded-bottom">
  <div *ngIf="isLoading" class="div-loader"></div>

  <div *ngIf="!isLoading && !canView" class="access-denied">
    <i class="fas fa-ban mr-2"></i> Access Denied
  </div>



  <div  *ngIf="canView && !isLoading &&  !addEditView">
    <form [formGroup]="radioForm" class="d-flex align-items-center justify-content-between">
      <div class="btn-group radio-btn-tabs px-1">
        <label class="btn btn-sm btn-secondary" [ngClass]="{'active' : (dataOption === 'all')}">
          <input type="radio" name="radioOption" autocomplete="off" checked formControlName="radioOption" value="all"
            (ngModelChange)="onRadioOptionChange($event)"> All
        </label>
        <label class="btn btn-sm btn-secondary" [ngClass]="{'active' : (dataOption === 'current')}">
          <input type="radio" name="radioOption" autocomplete="off" checked formControlName="radioOption"
            value="current" (ngModelChange)="onRadioOptionChange($event)"> Current
        </label>


      </div>
      <div *ngIf="!noRecordFound">
        <button type="button" [disabled]="!canAddEdit" class="btn btn-link  btn-md line-height-1 p-0 mr-2" (click)="onEdit(a)">
          <i class="far fa-edit"></i>
        </button>
        <button type="button" [disabled]="!canAddEdit" class="btn btn-link  btn-md btn-delete  line-height-1 p-0 mr-2" (click)="onDelete()">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </form>
  </div>



  <div *ngIf="!isLoading &&  noRecordFound && !addEditView && canView" class="no-content">
    <i class="fas fa-exclamation-triangle text-warning mr-2"></i>No Record Found
  </div>


  <div *ngIf="!isLoading && canView && !noRecordFound && !addEditView">

    <div class="d-flex p-1">

      <div class="border rounded p-1 flex-1">
        <table class="table light-blue-striped" *ngIf="!isLoding">
          <thead>
            <tr class="encounter-data-accordian accordian-data">
              <th>Visit Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of lstprogressNoteList" class="encounter-data-accordian accordian-data"
              (click)="OnSelectionChanged(a)" [ngClass]="{'active' : (a.note_id === rowId)}">
              <td>{{a.visit_date}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex flex-column flex-5">
        <div class="form-view flex-column flex-grow-1 m-0">
          <div class="value">
            <form [formGroup]="richFormView">
              <!--
              <quill-editor [readOnly]="true" [modules]="{toolbar: false}" id="richEditorView" #richEditorView [required]="true"
                [formControl]="contentView"></quill-editor>
                -->

                <quill-editor [readOnly]="true" [modules]="{toolbar: false}" id="richEditorView{{uniqueModuleId}}" [required]="true"
                [formControl]="contentView"></quill-editor>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div *ngIf="addEditView" class="p-2 pt-1">

    <div class="filter-tab pr-0 justify-content-end">
      <!-- <nav class="nav"> -->
        <!-- <a class="nav-link px-2 py-1" href="#">Last Plan</a> -->
        <!-- <a class="nav-link px-2 py-1" href="#">Template</a> -->
          <button class="btn btn-link p-0 btn-sm m-0 pr-2" (click)="onTemplateClick()">[ Template ]</button>
          <button class="btn btn-link p-0 btn-sm m-0 pr-2" (click)="onLastNotesClick()">[ Last Notes ]</button>
      <!-- </nav> -->
    </div>

    <div class="p-6" >
      <form [formGroup]="richForm">
       
        <quill-editor format="text|html" id="richEditor{{uniqueModuleId}}" [required]="true" [formControl]="content" >
        </quill-editor>

      </form>
    </div>

  </div>


  <div class="encounter-footer-credential rounded-bottom" *ngIf="!isLoading && canView && !addEditView">
    <button class="btn btn-sm btn-link pr-0" type="button" (click)="showProgressLog()">View Log</button>
  </div>

</div>