<div class="border-content-box light-gray-bg border-top-0 rounded-bottom">
  <div class="rounded-top encounter-header-highlight justify-content-end">
    <ul class="nav color-buttons align-items-center">
      <a class="nav-link green px-2 py-0" (click)="onSave(inputForm.value)"><i class="far fa-save pr-1"></i>Save</a>
      <a class="nav-link encounter-btn-cancel px-2 py-0" (click)="dataUpdated.emit()"><i class="fas fa-times pr-1"></i>Cancel</a>      
    </ul>
  </div>

  <div >
      <div class="pt-1-px bg-white overflow-auto">
          <form [formGroup]="inputForm">
            <table class="table td-height td-vertical-align-middle light-striped-border">
        <thead>
          <tr>
            <th width="10%" class="text-center">&nbsp;</th>
            <th width="15%" class="text-center">Complete Date</th>
            <th width="15%" class="text-center">Due Date</th>
            <th width="9%" class="text-center">Refused</th>
            <th width="56%" class="text-center">Comments</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="form-edit-sub-heading">PPD</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtPPDComplDate" formControlName="txtPPDComplDate"   
                    ngbDatepicker #txtPPDComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtPPDComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtPPDDueDate" formControlName="txtPPDDueDate"   
                    ngbDatepicker #txtPPDDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtPPDDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkPPDRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtPPDComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Hep A</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtHEPAComplDate" formControlName="txtHEPAComplDate"   
                    ngbDatepicker #txtHEPAComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtHEPAComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtHEPADueDate" formControlName="txtHEPADueDate"   
                    ngbDatepicker #txtHEPADueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtHEPADueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkHEPARefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtHEPAComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Hep B</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtHEPBComplDate" formControlName="txtHEPBComplDate"   
                    ngbDatepicker #txtHEPBComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtHEPBComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtHEPBDueDate" formControlName="txtHEPBDueDate"   
                    ngbDatepicker #txtHEPBDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtHEPBDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkHEPBRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtHEPBComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Pneumonia</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtPnemoComplDate" formControlName="txtPnemoComplDate"   
                    ngbDatepicker #txtPnemoComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtPnemoComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtPnemoDueDate" formControlName="txtPnemoDueDate"   
                    ngbDatepicker #txtPnemoDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtPnemoDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkPnemoRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtPnemoComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Tetnus</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtTetnusComplDate" formControlName="txtTetnusComplDate"   
                    ngbDatepicker #txtTetnusComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtTetnusComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtTetnusDueDate" formControlName="txtTetnusDueDate"   
                    ngbDatepicker #txtTetnusDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtTetnusDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkTetnusRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtTetnusComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Depo</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtDepoComplDate" formControlName="txtDepoComplDate"   
                    ngbDatepicker #txtDepoComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtDepoComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtDepoDueDate" formControlName="txtDepoDueDate"   
                    ngbDatepicker #txtDepoDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtDepoDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkDepoRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtDepoComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Influenza</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtinflComplDate" formControlName="txtinflComplDate"   
                    ngbDatepicker #txtinflComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtinflComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtInflDueDate" formControlName="txtInflDueDate"   
                    ngbDatepicker #txtInflDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtInflDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkInflRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtInflComments">
            </td>
          </tr>

          <tr>
            <td class="form-edit-sub-heading">Pneumococcal</td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtPneumoComplDate" formControlName="txtPneumoComplDate"   
                    ngbDatepicker #txtPneumoComplDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtPneumoComplDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td>
                <div class="form-group mb-0">
                <div class="input-group">
                    <input class="form-control"   name="txtPneumoDueDate" formControlName="txtPneumoDueDate"   
                    ngbDatepicker #txtPneumoDueDate="ngbDatepicker">
                    <span class="input-group-btn">
                      <button class="btn date-control-btn" (click)="txtPneumoDueDate.toggle()" type="button">
                        <!-- <i class="far fa-calendar-alt" aria-hidden="true"></i> -->
                      </button>
                    </span>
                  </div>
                </div>
            </td>
            <td class="text-center">
              <input type="checkbox" formControlName="chkPneumoRefused">
            </td>
            <td>
              <input class="form-control" type="text" formControlName="txtPneumoComments">
            </td>
          </tr>
        </tbody>
      </table>
      </form>
    </div>

  </div>
</div>