<div class="mt-8">
  <div id="main-follow-up" class="rounded-top encounter-header">
    <div class="title pl-8">Annual Female Exam</div>

    <ul class="nav color-buttons align-items-center" *ngIf="!isLoading">

      <button (click)="onAddNew()" class="nav-link green px-2 py-0 top-right-radius">
        <i class="far fa-plus-square pr-1"></i>Add
      </button>

      <!--
      <a *ngIf="!addEditView" class="nav-link green px-2 py-0 top-right-radius" (click)="onAddNew()">
        <i class="far fa-plus-square pr-1"></i>Add
      </a>
      -->
    </ul>

  </div>
</div>

<div class="border-content-box light-gray-bg border-top-0 rounded-bottom">

  <div *ngIf="isLoading" class="div-loader"></div>

  <!--
    <div *ngIf="!isLoading && !canView" class="access-denied">
        <p><i class="fas fa-ban"></i> Access Denied</p>
    </div>
    -->

  <div *ngIf="!isLoading &&  noRecordFound" class="no-content ml-2 p-6">
    <i class="fas fa-exclamation-triangle text-warning mr-2"></i>No Record Found
  </div>
  <div class="p-0" *ngIf="!isLoading &&  !noRecordFound">
    <table class="table layout-fixed light-striped-border">
      <tr *ngFor="let hcs of lstFemaleExamView">
        <td>{{hcs.visit_date}}</td>
        <td>{{hcs.form_description}}</td>
        <td style="text-align: right"><br>{{hcs.provider1_sign_info}} </td>

        <td class="text-right">
          <button type="button" class="btn btn-link btn-md line-height-1 p-0 mr-2" (click)="onEdit(hcs)"><i
              class="far fa-edit"></i></button>
          <button type="button" class="btn btn-link btn-md btn-delete line-height-1 p-0" (click)="onDelete(hcs)"><i
              class="far fa-trash-alt"></i></button>
        </td>

      </tr>
    </table>
  </div>

</div>