<div class="dashboard-container d-flex flex-column">
  <div class="dashboard m-2">
    <ngb-tabset class="inner-horizental-green-tab rounded-10 d-flex flex-column" [destroyOnHide]=false
      (tabChange)="onTabChange($event)" [activeId]="selectedTab">
      <ngb-tab id="tab_patient_access_log">
        <ng-template ngbTabTitle>Patient Access Log</ng-template>
        <ng-template ngbTabContent>
          <patient-access-log class="d-flex flex-column flex-grow-1 p-2" (showLogEvent)="showLog($event)">
          </patient-access-log>
        </ng-template>
      </ngb-tab>


      <ngb-tab id="tab_ecnounter_access_log" *ngIf="encounterAccessLogTabVisible">
        <ng-template ngbTabTitle>Encounter Access Log</ng-template>
        <ng-template ngbTabContent>
          <encounter-access-log class="d-flex flex-column flex-grow-1 p-2" [param]="param"
            (showLogEvent)="showLog($event)">
          </encounter-access-log>
        </ng-template>
      </ngb-tab>


      <ngb-tab id="tab_audit_log" *ngIf="auditLogTabVisible">
        <ng-template ngbTabTitle>{{auditLogTabTitle}}</ng-template>
        <ng-template ngbTabContent>

          <audit-log class="d-flex flex-column flex-grow-1 p-2" [param]="param">
          </audit-log>

        </ng-template>
      </ngb-tab>

      <!--
  <ngb-tab id="tab_general_log">
    <ng-template ngbTabTitle>General Log</ng-template>
    <ng-template ngbTabContent>
      <p>General Log</p>
    </ng-template>
  </ngb-tab>
  -->

    </ngb-tabset>
  </div>