<div class="inline-search">
  <div class="inline-search-header">
    <h6 class="title">Patient Search</h6>
    <button type="button" class="close" aria-label="Close" (click)="onClose.emit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="body m-0">
    <div *ngIf="isLoading" class="div-loader"></div>
    <table class="table sm light-striped-border" *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Name</th>
          <th>DOB</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr id="tr_{{i}}" *ngFor="let pat of lstPatient  ; let i=index" [ngClass]="{
                        'text-success' : (pat.patient_status === 'ACTIVE'),
                        'text-danger' : (pat.patient_status === 'INACTIVE'),
                        'text-warning' : (pat.patient_status === 'CLINIC DISCHARGED'),
                        'text-warning' : (pat.patient_status === 'DECEASED'),
                         'active': i==selectedIndex
                      }" (click)="patRowClick(i)">
                      
          <td>
            <button #buttons type="button" class="link-btn" (click)="onPatientSelect.emit(pat)"
              (keydown.enter)="onPatientSelect.emit(pat)" (keydown.arrowdown)="shiftFocusDown(i)"
              (keydown.arrowup)="shiftFocusUp(i)" (keydown.esc)="onClose.emit()">{{pat.name}}</button>
          </td>
          <td>{{pat.dob}}</td>
          <td>{{pat.address}}</td>
          <td>{{pat.patient_status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>