<div class="modal-header custom">
  <img class="logo" src="./assets/images/logo-small.png">
  <h4 class="modal-title">Reset Password</h4>
  <br>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  <div class="modal-body custom">
    <div class="dashboard-content mt-0">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)">
      <div class="input-group flex-nowrap mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white" id="addon-wrapping"><i class="fas fa-key fa-md px-1"></i></span>
        </div>
        <input type="password" formControlName="currentPassword" class="form-control bg-light search-highlight" placeholder="Current Password">
      </div>
     
      <div class="input-group flex-nowrap mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white" id="addon-wrapping"><i class="fas fa-key fa-md px-1"></i></span>
        </div>
        <input type="password" formControlName="newPassword" class="form-control bg-light required " placeholder="New Password">
      </div>
      <div class="input-group flex-nowrap mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white" id="addon-wrapping"><i class="fas fa-key fa-md px-1"></i></span>
        </div>
        <input type="password" formControlName="confirmPassword" class="form-control bg-light required " placeholder="Confirm Password">
      </div>
    </form>
    </div>

  </div>
  <div class="modal-footer custom pl-0">
    <button type="button" style="width: 80px;" class="btn btn-dark btn-sm"
      (click)="activeModal.dismiss('Cross click')">Cancel</button>
    <button style="width: 80px;" class="btn btn-success btn-sm" [disabled]="!inputForm.valid"
      type="submit" (click)="onSubmit(inputForm.value)">Save</button>
  </div>
