<div class="dashboard-billing position-relative">
    <div class="dashboard-title position-relative">
      <div class="icon light-gray" title="Claim Count">
        <img class="img-h-24" src="./assets/images/icons/Dashboard_ico_pending_claim.svg" alt="">
      </div>
  
      <div class="title">
        <!-- Claim Count  -->
        Claim Aging Doughnut-Chart
      </div>
      <div class="title-btn-link dropdown position-initial">
        <button class="btn-dropdown p-0 line-height-1" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" (click)="showHidetoggle()">
            <img class="img-h-25" src="./assets/images/icons/ico_filter_green.svg" alt="">
        </button>
  
        <div class="dropdown-menu dashboard-dropdown rounded shadow-md m-0 t-0"
            [ngClass]="{'hide': showHideSearch}">
            <div class="dropdown-title">Provider & Location Selection
                <button class="close"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></button>
            </div>
  
            <form [formGroup]="filterForm" (ngSubmit)="getClaim()">
                <div class="form-row form-dashboard">
  
                    <div class="form-group col-12">
                        <label for="input1">Provider</label>
                        <select class="form-control" formControlName="ctrlproviderSearch">
                            <option value="all">All</option>
                            <option *ngFor="let s of lookupList.providerList" [value]="s.id">{{s.name}}</option>
                        </select>
                    </div>
  
                    <div class="form-group col-12">
                        <label for="input1">Location</label>
                        <select class="form-control" formControlName="ctrllocationSearch">
                            <option value="all">All</option>
                            <option *ngFor="let s of lookupList.locationList" [value]="s.id">{{s.name}}</option>
                        </select>
                    </div>
  
  
                    <!-- <div class="form-group col-12">
                                <label for="input1">Date From</label>
                                <input type="date" class="form-control" formControlName="datefrom">
                            </div> -->
                    <div class="form-group col-12">
                        <label for="txtDate">Date From<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="mm/dd/yyyy" name="datefrom"
                                formControlName="datefrom" ngbDatepicker #datefrom="ngbDatepicker">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-primary" (click)="datefrom.toggle()" type="button">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
  
  
  
                    <!-- <div class="form-group col-12">
                                    <label for="input1">Date To</label>
                                    <input type="date" class="form-control" formControlName="dateto"> 
                                </div> -->
  
                    <div class="form-group col-12">
                        <label for="dateto">Date To <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="mm/dd/yyyy" name="dateto"
                                formControlName="dateto" ngbDatepicker #dateto="ngbDatepicker">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-primary" (click)="dateto.toggle()" type="button">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
  
                    <div class="form-group col-12 text-right">
                        <button type="submit" class="btn btn-success mt-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
      <div class="title-btn p-0">
        <a class="line-height-1" (click)="refreshRecord()"><img class="img-h-25"
            src="./assets/images/icons/ico_refresh_green.svg" alt=""></a>
      </div>
    </div>
    <div class="dashboard-content" >
      <canvas id="myCanvas" #myCanvas >{{chart}}</canvas>
    </div>
  
  
    <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
      <div class="div-ui-blocker-message-box ">
        <i class="fas fa-spinner fa-spin mr-1"></i>Loading
      </div>
    </div>
  
  </div>