<ngb-tabset #appTabSet class="navbar main-left-nav" [destroyOnHide]=false (tabChange)="onTabChange($event)">
  <ngb-tab id="home-tab-main">
    <ng-template ngbTabTitle>

      <!-- <i class="ihc-home"></i>--><img src="./assets/svg/Home-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Home-01.svg" class="blue"> <span>Home</span>
    </ng-template>
    <ng-template ngbTabContent> 
      <dashboard-main id="div_dashboard_main" #div_dashboard_main class="main-app d-flex flex-column">
      </dashboard-main>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="scheduelr-tab-main" *ngIf="lookupList.UserRights.scheduler_view">
    <ng-template ngbTabTitle>

      <img src="./assets/svg/Schedule-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Schedule-01.svg" class="blue"> <span>Scheduler</span>
    </ng-template>
    <ng-template ngbTabContent>
      <scheduler-main class="main-app d-flex flex-column" *ngIf="loadScheduler"></scheduler-main>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="patient-tab-main">
    <ng-template ngbTabTitle>

      <img src="./assets/svg/Find Open-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Open Patient-01.svg" class="blue"> <span>Find/Open Patient</span>



    </ng-template>
    <ng-template ngbTabContent>
      <patient-main class="main-app d-flex flex-column p-0"></patient-main>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="messages-tab-main" *ngIf="this.lookupList.UserRights.message_view">
    <ng-template ngbTabTitle>

      <img src="./assets/svg/Communication-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Communication-01.svg" class="blue"><span>Internal Messages</span>

    </ng-template>
    <ng-template ngbTabContent>
      <messages-main #messagesMain class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadMessages">
      </messages-main>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="labs-tab-main" *ngIf="lookupList.UserRights.lab_order_view">
    <ng-template ngbTabTitle>
      <img src="./assets/svg/Lab Order Search-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Lab Order Search-01.svg" class="blue"><span>Lab Order Search</span>

    </ng-template>
    <ng-template ngbTabContent>
      <labs-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadLab"></labs-main>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="letters-tab-main" *ngIf="lookupList.UserRights.letter_view">
    <ng-template ngbTabTitle>
      <img src="./assets/svg/Patient Letters-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Patient Letters-01.svg" class="blue"> <span>Patient Letters</span>

    </ng-template>
    <ng-template ngbTabContent>
      <letters-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadLetter"></letters-main>
    </ng-template>
  </ngb-tab>


  <ngb-tab id="reports-tab-main" *ngIf="lookupList.UserRights.view_reports">
    <ng-template ngbTabTitle>
      <img src="./assets/svg/Actions-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Actions-01.svg" class="blue"><span>Reports</span>

    </ng-template>
    <ng-template ngbTabContent>
      <reports-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadReports"></reports-main>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="admin-tab-main" *ngIf="lookupList.UserRights.administration">
    <ng-template ngbTabTitle>
      <img src="./assets/svg/Admin Setting-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Admin Setting-01.svg" class="blue"> <span>Admin Setting</span>

    </ng-template>
    <ng-template ngbTabContent>
      <setting-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadSettings">
      </setting-main>
    </ng-template>
  </ngb-tab>



  <ngb-tab id="user-admin-tab-main">
    <ng-template ngbTabTitle>
      <img src="./assets/svg/Settings-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Settings-01.svg" class="blue"> <span>User Admin</span>

    </ng-template>
    <ng-template ngbTabContent>
      <users-admin-settings class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadUserSettings">
      </users-admin-settings>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="fax-tab-main" *ngIf="lookupList.UserRights.fax_enable">
    <ng-template ngbTabTitle>

      <img src="./assets/svg/Fax Send-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Fax Send-01.svg" class="blue"> <span>Fax Send/Receive</span>

    </ng-template>
    <ng-template ngbTabContent>
      <fax-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadFax"></fax-main>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="billing-tab-main" *ngIf="(this.lookupList.logedInUser.userType.toUpperCase() == 'BILLING')">
    <ng-template ngbTabTitle>

      <img src="./assets/svg/My Account-01.svg" width="35" class="white"><img src="./assets/svg-Blue/My Account-01.svg" class="blue"> <span>Billing</span>


    </ng-template>
    <ng-template ngbTabContent>
      <billing-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadBilling"></billing-main>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="log-tab-main">
    <ng-template ngbTabTitle>
      <img src="./assets/svg/Log-01.svg" width="35" class="white"><img src="./assets/svg-Blue/Log-01.svg" class="blue"> <span>Log</span>


    </ng-template>
    <ng-template ngbTabContent>
      <log-main class="main-app d-flex flex-column flex-grow-1 p-0" *ngIf="loadLog"></log-main>
    </ng-template>
  </ngb-tab>
</ngb-tabset>