<div class="modal-header custom" (keydown.esc)="activeModal.dismiss('Cross click')">

  <img class="logo" src="./assets/images/logo-small.png">

  <h4 class="modal-title">Provider Adjustment (PLB)</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

    <span aria-hidden="true">&times;</span>

  </button>

</div>

<div class="modal-body custom position-relative" style="min-height: 60px; max-height: 500px;"
  (keydown.esc)="activeModal.dismiss('Cross click')">


  <div class="flex-grow-1 overflow-auto" *ngIf="!isLoading">
    <div class="info-box-stipes flex-grow-1">

      <div class="no-content p-2" *ngIf="(lstAdjustment==undefined || lstAdjustment.length==0 )">
        <i class="fas fa-exclamation-triangle text-warning mr-2"></i>No record found.
      </div>

      <table class="table sm layout-fixed light-striped-border"
        *ngIf="(lstAdjustment!=undefined && lstAdjustment.length > 0 )">
        <thead>
          <tr>
            <th class="width-80">Reason</th>
            <th>Identifier</th>
            <th class="width-80">Amount</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let adj of lstAdjustment">
            <td>{{adj.reason_code}}</td>
            <td>{{adj.adjustment_identifier}}</td>
            <td class="text-right">{{adj.amount | currency:'USD':'symbol-narrow'}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>


  <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
    <div class="div-ui-blocker-message-box ">
      <i class="fas fa-spinner fa-spin mr-1"></i>Loading...
    </div>
  </div>

</div>