<div class="dashboard">
  <div class="dashboard-title">
    <div class="icon light-gray">
      <i class="fa fa-tasks text-info" aria-hidden="true"></i>
    </div>
    <div class="title">
      Pending Tasks <span class="ml-2"> ({{totalRecords}}) </span>
    </div>
    <div class="title-btn p-0">
      <a class="line-height-1" (click)="getTasks()"><img class="img-h-25"
          src="./assets/images/icons/ico_refresh_green.svg" alt=""></a>
    </div>
  </div>
  <div class="dashboard-content position-relative">
      <!-- *ngIf="!isReadMessage" -->
    <table class="table light-striped-border wide" >
      <thead>
        <tr>
          <th class="width-10"></th>
          <th>From</th>
          <th>To</th>
          <th>Title</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Created By</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of lstTasks" [ngClass]="{'active' : (task.task_id === selectedTaskId)}"
          (click)="taskRowChanged(task.task_id)">
          <td class="pr-0"><i class="fas fa-exclamation text-danger" *ngIf="task.priority=='High'"></i></td>
          <td>{{task.assigned_from_name}}</td>
          <td>{{task.assigned_to_name}}</td>
          <td>
            <button type="button" class="link-btn d-flex align-items-center" (click)="viewTask(task.task_id)">
              {{task.title}}
            </button>
          </td>
          <td [ngClass]="{'text-success': task.status=='Completed',
            'text-primary': task.status=='In Progress',
            'font-weight-500': task.status=='New'}">{{task.status}}</td>
          <td [ngClass]="{'text-danger': task.over_due}">{{task.due_date}}</td>
          <td>{{task.created_user}}</td>
          <td>{{task.date_created}}</td>
        </tr>
      </tbody>
    </table>


    <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
      <div class="div-ui-blocker-message-box ">
        <i class="fas fa-spinner fa-spin mr-1"></i>Loading
      </div>
    </div>


  </div>
</div>