/*** FIRST COLUMN */
.table-cumulative-vitals > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
  
    z-index: 1;
    /*border-right: 1px solid #c4dbed; */
   
    height: inherit;


}
.table-cumulative-vitals > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
   /* background-color: gray;*/
   background-color: #ffffff;    
    z-index: 1;
   border-right: 1px solid #77469a; 
   border-bottom: 1px solid #77469a; 
   
   font-weight: 500;
   height: inherit;

}
 
.table-cumulative-vitals > thead > tr >  th {
    border-right: 1px solid #77469a;
    border-bottom: 1px solid #77469a; 
 }
 .table-cumulative-vitals > thead > tr >  td:last-child {
    border-right: none !important;
 }


.table-cumulative-vitals > tbody > tr >  td {
   border-right: 1px solid var(--bg-title-light);
}
.table-cumulative-vitals > tbody > tr >  td:last-child {
    border-right: none !important;
 }



.table-cumulative-vitals > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 135px;
}

.table-cumulative-vitals > tbody > tr > td:nth-child(2) {
    padding-left: 135px !important;
}
/*** END FIRST COLUMN */

/*** LAST COLUMN */
/*
.table-claim-procedure > thead:last-child > tr:last-child > th:last-child {
    position: absolute;
    display: inline-block;
    background-color: #ddeaf5;
    height: 22px;    
    z-index: 1;
    border-right: 1px solid #c4dbed;

}
.table-claim-procedure > tbody > tr > td:last-child {
    position: absolute;
    display: inline-block;
 
   background-color: #f4fafe;
    height: 27px;
    z-index: 1;
    border-right: 1px solid #e6eff8;
}

.table-claim-procedure > thead:last-child > tr:last-child > th:nth-last-child(2){
    padding-right: 60px;
}

.table-claim-procedure > tbody > tr > td:nth-last-child(2) {
    padding-right: 60px !important;
}
*/
/*** END LAST COLUMN */



