<!-- <div style="width:750px !important; height: 600px !important;" class="modal-lg"> -->
  <div class="modal-content custom">
    <div class="modal-header custom" >
      <img class="logo" src="./assets/images/logo-small.png">
      <h4 class="modal-title">Document Viewer</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body custom" >
        <!-- <iframe frameborder="0" src="http://localhost:8001/ihc-mu//Main.html?patient_id=123" scrolling="yes" width="900px" height="550px" id="irxIFrame" name="irxIFrame"></iframe> -->
        <!-- <iframe frameborder="0" [src]="getLink()"  scrolling="yes" width="900px" height="550px" id="irxIFrame" name="irxIFrame"></iframe> -->
        
    <div>
  </div>