<div class="dashboard-container d-flex flex-column mb-0">
    <div class="dashboard rounded" style="height: 450px;">
        <div class="modal-header custom">
            <img class="logo" src="./assets/images/logo-small.png">
            <h4 class="modal-title">{{module_name}}</h4>
            <br>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="dashboard-content mt-0">

            <table class="table light-striped-border">
                <thead>
                    <tr>
                        <th *ngFor="let hist of listHistoryHPIHeader">{{hist}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hist of listHistoryHPI; let i = index">
                        <td *ngFor="let col of hist; let x = index">{{col}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dashboard-sub-nav filters">
            <div class="flex-grow-1 text-right">
                <span>Total Records: <strong>{{listHistoryHPI ? listHistoryHPI.length : '0'}}</strong></span>
            </div>
        </div>
    </div>
</div>