<div class="dashboard">
  <div class="dashboard-title">
      <div class="icon light-gray">
          <!-- <i class="ihc-letter"></i> -->
          <img class="img-h-24" src="./assets/images/icons/Dashboard_edd.svg" alt="">
      </div>
      <div class="title">
        Today's EDD <span class=" ml-2"> ({{eddcount}}) </span>
      </div>
      <div class="title-btn p-0">
          <a class="line-height-1" (click)="refreshEDD()"><img class="img-h-25" src="./assets/images/icons/ico_refresh_green.svg" alt=""></a>
      </div>
  </div>
  <div class="dashboard-content">
      <table class="table light-striped-border wide">
          <thead>
              <tr>   
                  <th style="width: 20px !important;">EDD</th>
                  <th>Patient</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr st-select-row="row" *ngFor="let edd of listEddResult">
                <!--orm three col use for this. name = id and address = pat name-->
                  <td>{{edd.edd_date}}</td>
                  <td>{{edd.patient_name}}</td>
              </tr>
          </tbody>
      </table>
      <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
        <div class="div-ui-blocker-message-box ">
            <i class="fas fa-spinner fa-spin mr-1"></i>Loading
        </div>
    </div>
  </div>
</div>