<div class="dashboard">
    <div class="dashboard-title position-relative">
        <div class="icon">
            <img class="img-h-32" src="./assets/images/icons/Dashboard_pending_claim.svg" alt="">
        </div>


        <div class="title">
            Pending Claims <span class=" ml-2"> ({{pendingClaimscount}}) </span>
        </div>


        <form [formGroup]="radioForm">
            <div class="btn-group radio-btn-tabs pt-2">
                <label class="btn btn-sm btn-secondary" [ngClass]="{'active' : (radioOption  === 'missing')}">
                    <input type="radio" name="entryOption" autocomplete="off" checked formControlName="entryOption"
                        value="missing" (ngModelChange)="onOptionChange($event)">
                    Missing
                </label>
                <label class="btn btn-sm btn-secondary" [ngClass]="{'active' : (radioOption === 'draft')}">
                    <input type="radio" name="entryOption" autocomplete="off" value="draft"
                        formControlName="entryOption" (ngModelChange)="onOptionChange($event)">
                    Draft
                </label>
            </div>
        </form>


        <div class="ml-2"></div>

        <div class="title-btn-link dropdown position-initial">
            <button class="btn-dropdown p-0 line-height-1" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" (click)="showHidetoggle()">
                <img class="img-h-25" src="./assets/images/icons/ico_filter_green.svg" alt="">
            </button>

            <div class="dropdown-menu dashboard-dropdown rounded shadow-md m-0 t-0"
                [ngClass]="{'hide': showHideSearch}">
                <div class="dropdown-title">Provider & Location Selection
                    <button class="close"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></button>
                </div>

                <form [formGroup]="filterForm" (ngSubmit)="onFilter(filterForm.value)" ng-if='!booleanCheck'>
                    <div class="form-row form-dashboard">
                        <div class="form-group col-12">
                            <label for="input1">Provider</label>
                            <select class="form-control" formControlName="ctrlproviderSearch">
                                <option value="all">All</option>
                                <option *ngFor="let s of lookupList.providerList" [value]="s.id">{{s.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-12">
                            <label for="input1">Location</label>
                            <select class="form-control" formControlName="ctrllocationSearch">
                                <option value="all">All</option>
                                <option *ngFor="let s of lookupList.locationList" [value]="s.id">{{s.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-12 text-right">
                            <button type="submit" class="btn btn-success btn-search mt-2">Search</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>

        <div class="title-btn p-0">
            <a class="line-height-1" (click)="onRefresh(filterForm.value)"><img class="img-h-25"
                    src="./assets/images/icons/ico_refresh_green.svg" alt=""></a>
        </div>
    </div>

    <div class="dashboard-content overflow-auto position-relative">

        <table class="table light-striped-border wide">
            <thead>
                <tr>
                    <th>DOS</th>
                    <th>Patient</th>
                    <th>Provider</th>
                    <th>Location</th>
                    <th *ngIf="radioOption == 'missing'"></th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="row" *ngFor="let claims of listDashboardPendingClaims">
                    <td>{{claims.dos}}</td>
                    <td>{{claims.patient_name}}</td>
                    <td>{{claims.provider_name}}</td>
                    <td>{{claims.location_name}}</td>
                    <td *ngIf="radioOption == 'missing'">
                        <button [disabled]="!this.lookupList.UserRights.claim_edit" type="button"
                            style="text-align: right; text-decoration: underline;" class="link-btn"
                            (click)="openClaim(claims)">Create claim</button>
                    </td>
                </tr>


            </tbody>
        </table>
        <div class="div-ui-blocker" id="uiBlocker" *ngIf="isLoading">
            <div class="div-ui-blocker-message-box ">
                <i class="fas fa-spinner fa-spin mr-1"></i>Loading
            </div>
        </div>
    </div>

</div>