<div class="dashboard-container d-flex flex-column">
  <div class="dashboard m-2">
  
    <ngb-tabset class="inner-vertical-tab messages first-tab-as-button d-flex flex-row rounded-10-top"
      (tabChange)="onTabChange($event)" [activeId]="selectedTab">
      <ngb-tab id="tab_fax_new">
        <ng-template ngbTabTitle> <i class="fas fa-plus mr-2"></i>New Fax</ng-template>
        <ng-template ngbTabContent>
          <!--<new-fax #fax_module_send_fax id="fax_module_send_fax" class="d-flex flex-column flex-grow-1" callingFrom="fax" operation="new_fax"></new-fax>-->
        </ng-template>
      </ngb-tab>

      <ngb-tab id="tab_fax_received">
        <ng-template ngbTabTitle>Received Faxes</ng-template>
        <ng-template ngbTabContent>
          <fax-received class="d-flex flex-column flex-grow-1"></fax-received>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="tab_fax_sent">
        <ng-template ngbTabTitle>Sent Faxes</ng-template>
        <ng-template ngbTabContent>
          <fax-sent class="d-flex flex-column flex-grow-1"></fax-sent>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>


  </div>


</div>