<ngb-tabset class="inner-vertical-tab white d-flex flex-row max-height-100">
  <ngb-tab>
    <ng-template ngbTabTitle><span>Providers</span></ng-template>
    <ng-template ngbTabContent>
      <provider-setup class="d-flex flex-column flex-grow-1 "></provider-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Billing Providers</span></ng-template>
    <ng-template ngbTabContent>
      <billing-provider-setup class="d-flex flex-column flex-grow-1 "></billing-provider-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Reffering Provider</span></ng-template>
    <ng-template ngbTabContent>
      <reffering-physician-setup class="d-flex flex-column flex-grow-1 "></reffering-physician-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Location</span></ng-template>
    <ng-template ngbTabContent>
      <location-setup class="d-flex flex-column flex-grow-1"></location-setup>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span>Guarantor</span></ng-template>
    <ng-template ngbTabContent>
      <guarantor-setup class="d-flex flex-column flex-grow-1 "></guarantor-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>SuperBill Setting</span></ng-template>
    <ng-template ngbTabContent>
      <superbill-setup class="d-flex flex-column flex-grow-1 "></superbill-setup>
    </ng-template>
  </ngb-tab>

  <!-- <ngb-tab>
    <ng-template ngbTabTitle><span>Restricted Code</span></ng-template>
    <ng-template ngbTabContent>
      <restricted-code class="d-flex flex-column flex-grow-1 pl-1"></restricted-code>
    </ng-template>
  </ngb-tab> -->
  <ngb-tab>
    <ng-template ngbTabTitle><span>Adjust Code</span></ng-template>
    <ng-template ngbTabContent>
      <adjust-code class="d-flex flex-column flex-grow-1 "></adjust-code>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Facility</span></ng-template>
    <ng-template ngbTabContent>
      <facility-setup class="d-flex flex-column flex-grow-1 "></facility-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Procedure</span></ng-template>
    <ng-template ngbTabContent>
     <procedure-Setup class="d-flex flex-column flex-grow-1 "></procedure-Setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Diagnosis</span></ng-template>
    <ng-template ngbTabContent>
     <diagnosis-setup class="d-flex flex-column flex-grow-1 "></diagnosis-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Write Off Code</span></ng-template>
    <ng-template ngbTabContent>
      <write-off-setup class="d-flex flex-column flex-grow-1 "></write-off-setup>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><span>Zip City State</span></ng-template>
    <ng-template ngbTabContent>
      <zipcitystate-settings class="d-flex flex-column flex-grow-1"></zipcitystate-settings>
    </ng-template>
  </ngb-tab>

</ngb-tabset>