  <div class="dashboard rounded">
    <div class="p-6 d-flex flex-column flex-grow-1 light-sky-blue">
        <form [formGroup]="tempSetUpForm">
            <div class="row p3 flex-grow-1 flex-wrap-nowrap">

                <div class="col-md-3 col-sm-6 col-12 d-flex flex-column flex-grow-1">
                    <div class="border rounded bg-white d-flex flex-column flex-grow-1">
                        <div class="rounded-box-title-bar justify-content-between">
                            <span>Extender Notes Template</span>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-sm btn-link line-height-1 p-0 mr-2" (click)="addNewTemplate()"
                                    *ngIf="newTemplate && this.lookupList.UserRights.extender_template_edit">New</button>
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-grow-1">
                            <div class="border-top bg-white flex-grow-1 overflow-auto d-flex overflow-height">
                                <table class="table layout-fixed sm light-striped-border" id="tbl">
                                    <tbody>
                                        <tr st-select-row="row" *ngFor="let temp of listTemplateResult"
                                            (click)="PopTemplateSetup(temp)"
                                            [ngClass]="{'active' : (temp.id === isSelectedID)}">
                                            <td width="70%">{{temp.name}}</td>
                                            <td class="text-right">
                                                <button class="btn btn-link btn-sm text-primary line-height-1 p-0 mr-2"
                                                    (click)="editSeletedTemplate(temp) "  *ngIf="this.lookupList.UserRights.extender_template_edit">
                                                    <i class="far fa-edit"></i></button>
                                                <button class="btn btn-link fz-14 text-danger line-height-1 p-0"
                                                  *ngIf="newTemplate && this.lookupList.UserRights.extender_template_edit"
                                                    (click)="deleteSeletedTemplate(temp)">
                                                    <i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-12 d-flex flex-column flex-grow-1">

                    <div class="bg-white d-flex flex-column flex-grow-1">
                        <div class="border  rounded-top bg-white px-2 py-1 flex-shrink-0">
                            <div class="form-row form-dashboard">
                                <div class="form-group horizental row zero col-12">
                                    <label class="col-sm-3 col-form-label " for="input2">Template Name</label>
                                    <input type="text" class="form-control col-sm-9 mr-2" 
                                        formControlName="txt_TemplateName" [readonly]="newTemplate">
                                    <div class="d-flex align-items-center" *ngIf="!newTemplate">
                                        <button class="btn rounded-0 btn-sm bg-green-ihc text-white mr-1" (click)="saveTemplateSetup()">Save</button>
                                        <button class="btn btn-sm btn-dark top-right-radius"
                                            (click)="cancelNewTemplate()">Cancel</button>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="pt-1 rounded-bottom d-flex flex-grow-1 overflow-auto">
                            <textarea name="txt_TemplateText" id="txt_TemplateText" class=" w-100" [readOnly]="newTemplate"
                                rows="15" formControlName="txt_TemplateText">
                            </textarea>
                            
                        </div>

                        <div class="rounded mt-1 d-flex flex-grow-1 overflow-auto">
                           
                        </div>

                    </div>

                </div>

                


            </div>
        </form>
    </div>
</div>