<div class="dashboard-container d-flex flex-column mb-0 mt-8-px">
    <div class="dashboard">
        <div class="dashboard-title">
            <div class="title">Appointments</div>

            <div class="title-link mr-2">
                <button><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export to Excel</button>
            </div>

            <div class="title-btn-link">
                <button type="button"><i class="fa fa-print" aria-hidden="true"></i></button>
            </div>

            <div class="title-btn-link">
                <button type="button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="dashboard-content mt-0">
            <table class="table light-striped-border">
                <thead>
                    <tr>
                        <th>App. Date</th>
                        <th>App. Time</th>
                        <th>App. Status</th>
                        <th>App. Source</th>
                        <th>App. Type</th>
                        <th>Provider</th>
                        <th>Location</th>
                        <th>Insurance</th>
                        <th>Copy</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>App. Date</td>
                        <td>App. Time</td>
                        <td>App. Status</td>
                        <td>App. Source</td>
                        <td>App. Type</td>
                        <td>Provider</td>
                        <td>Location</td>
                        <td>Insurance</td>
                        <td>Copy</td>
                    </tr>

                    <tr>
                        <td>App. Date</td>
                        <td>App. Time</td>
                        <td>App. Status</td>
                        <td>App. Source</td>
                        <td>App. Type</td>
                        <td>Provider</td>
                        <td>Location</td>
                        <td>Insurance</td>
                        <td>Copy</td>
                    </tr>

                    <tr>
                        <td>App. Date</td>
                        <td>App. Time</td>
                        <td>App. Status</td>
                        <td>App. Source</td>
                        <td>App. Type</td>
                        <td>Provider</td>
                        <td>Location</td>
                        <td>Insurance</td>
                        <td>Copy</td>
                    </tr>

                    <tr>
                        <td>App. Date</td>
                        <td>App. Time</td>
                        <td>App. Status</td>
                        <td>App. Source</td>
                        <td>App. Type</td>
                        <td>Provider</td>
                        <td>Location</td>
                        <td>Insurance</td>
                        <td>Copy</td>
                    </tr>

                    <tr>
                        <td>App. Date</td>
                        <td>App. Time</td>
                        <td>App. Status</td>
                        <td>App. Source</td>
                        <td>App. Type</td>
                        <td>Provider</td>
                        <td>Location</td>
                        <td>Insurance</td>
                        <td>Copy</td>
                    </tr>

                    <tr>
                        <td>App. Date</td>
                        <td>App. Time</td>
                        <td>App. Status</td>
                        <td>App. Source</td>
                        <td>App. Type</td>
                        <td>Provider</td>
                        <td>Location</td>
                        <td>Insurance</td>
                        <td>Copy</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="dashboard-sub-nav filters">
            <div class="flex-grow-1 text-right">
                <span>Total Records: <strong>83</strong></span>
            </div>

        </div>

    </div>
</div>