<ul class="nav message-bar flex-shrink-0 justify-content-between pl-3">
  <div class="d-flex align-items-center">
    <span class="fz-14 font-weight-500 font-italic mr-3">Amendment Request:</span>
    <a class="fz-13 text-dark font-weight-400" href="">View Patient</a>
  </div>

  <div class="d-flex">
    <a class="nav-link" href="#">Reply</a>
    <a class="nav-link" href="#">Reply all</a>
    <a class="nav-link" href="#">Delete</a>
    <a class="nav-link" href="#">Archive</a>
  </div>
</ul>

<div class="message-info">
  <div class="form-view row zero">
    <div class="title font-weight-400 col-1 text-right">From:</div>
    <div class="value font-weight-400 col-11 pl-2">Scottj</div>
  </div>

  <div class="form-view row zero">
    <div class="title font-weight-400 col-1 text-right">Sent:</div>
    <div class="value font-weight-400 col-11 pl-2">01/03/2019 9:49:18 AM</div>
  </div>

  <div class="form-view row zero">
    <div class="title font-weight-400 col-1 text-right">To:</div>
    <div class="value font-weight-400 col-11 pl-2">rebecag;DOWNTOWN;</div>
  </div>

  <div class="form-view row zero">
    <div class="title font-weight-400 col-1 text-right">Cc:</div>
    <div class="value font-weight-400 col-11 pl-2">&nbsp;</div>
  </div>

  <div class="form-view row zero">
    <div class="title font-weight-400 col-1 text-right">Subject:</div>
    <div class="value font-weight-400 col-11 pl-2">Vat working again</div>
  </div>
</div>

<div class="message-detail flex-grow-1 p-3 overflow-auto">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed diam nec odio consequat rhoncus a ut augue. Sed
    eleifend pretium egestas. Duis neque justo, pulvinar quis feugiat in, fringilla vel justo. Nullam metus mi, blandit
    ut velit a, suscipit suscipit diam. Vestibulum rhoncus ex dui, sed maximus velit ultrices ac. Nunc iaculis blandit
    felis, nec facilisis lorem. Pellentesque tempus elementum dolor. Cras faucibus eros eget felis luctus, at ultricies
    eros consequat.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed diam nec odio consequat rhoncus a ut augue. Sed
    eleifend pretium egestas. Duis neque justo, pulvinar quis feugiat in, fringilla vel justo. Nullam metus mi, blandit
    ut velit a, suscipit suscipit diam. Vestibulum rhoncus ex dui, sed maximus velit ultrices ac. Nunc iaculis blandit
    felis, nec facilisis lorem. Pellentesque tempus elementum dolor. Cras faucibus eros eget felis luctus, at ultricies
    eros consequat.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed diam nec odio consequat rhoncus a ut augue. Sed
    eleifend pretium egestas. Duis neque justo, pulvinar quis feugiat in, fringilla vel justo. Nullam metus mi, blandit
    ut velit a, suscipit suscipit diam. Vestibulum rhoncus ex dui, sed maximus velit ultrices ac. Nunc iaculis blandit
    felis, nec facilisis lorem. Pellentesque tempus elementum dolor. Cras faucibus eros eget felis luctus, at ultricies
    eros consequat.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed diam nec odio consequat rhoncus a ut augue. Sed
    eleifend pretium egestas. Duis neque justo, pulvinar quis feugiat in, fringilla vel justo. Nullam metus mi, blandit
    ut velit a, suscipit suscipit diam. Vestibulum rhoncus ex dui, sed maximus velit ultrices ac. Nunc iaculis blandit
    felis, nec facilisis lorem. Pellentesque tempus elementum dolor. Cras faucibus eros eget felis luctus, at ultricies
    eros consequat.</p>
</div>