<div class="light-title-bar rounded-top h-30 pl-3 d-flex align-items-center justify-content-between flex-shrink-0">
  <div class="fz-15 font-weight-400">Provider Payroll Procedure Categories</div>
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-link fz-13 title-bar-blue-btn font-weight-400 py-0"><i class="fas fa-plus"></i>
      Add</button>
    <button type="button" class="btn btn-link fz-13 title-bar-blue-btn font-weight-400 py-0"><i class="far fa-edit"></i>
      Edit</button>
    <button type="button" class="btn btn-link fz-13 title-bar-blue-btn font-weight-400 py-0"><i class="far fa-trash-alt"></i>
      Delete</button>
    <button class="btn rounded-0 btn-sm bg-green-ihc text-white h-30">Save</button>
    <button class="btn btn-sm btn-dark top-right-radius h-30">Cancel</button>
  </div>
</div>

<div class="d-flex flex-row flex-grow-1 rounded-bottom border-content-box border-top-0 light-sky-blue p-8">
  <div class="border rounded bg-white d-flex flex-column flex-1 max-height-100">
    <div class="rounded-box-title-bar border-bottom d-flex align-items-center justify-content-between flex-shrink-0">
      <span>Payroll Categories</span>
      <button class="btn btn-sm btn-link line-height-1 p-0">Add</button>
    </div>
    <div class="d-flex border-bottom flex-shrink-0 p-2">
      <div class="form-group flex-grow-1 mb-0">
        <input class="form-control" type="text" placeholder="Enter Category Name">
      </div>
      <button class="btn btn-sm btn-success ml-1" type="button"><i class="far fa-save"></i></button>
      <button class="btn btn-sm btn-danger ml-1" type="button"><i class="fas fa-times"></i></button>
    </div>
    <div class="flex-grow-1 overflow-auto">
      <table class="table light-striped-border">
        <tbody>
          <tr>
            <td>Route Slip</td>
            <td class="text-right">
              <button class="btn btn-link btn-sm text-primary line-height-1 p-0 mr-2"><i class="far fa-edit"></i></button>
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>MA Route Slip</td>
            <td class="text-right">
              <button class="btn btn-link btn-sm text-primary line-height-1 p-0 mr-2"><i class="far fa-edit"></i></button>
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>Extra</td>
            <td class="text-right">
              <button class="btn btn-link btn-sm text-primary line-height-1 p-0 mr-2"><i class="far fa-edit"></i></button>
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>Hospital Route</td>
            <td class="text-right">
              <button class="btn btn-link btn-sm text-primary line-height-1 p-0 mr-2"><i class="far fa-edit"></i></button>
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>Midwife Route</td>
            <td class="text-right">
              <button class="btn btn-link btn-sm text-primary line-height-1 p-0 mr-2"><i class="far fa-edit"></i></button>
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border rounded bg-white d-flex flex-column flex-2 max-height-100 ml-2">
    <div class="rounded-box-title-bar border-bottom d-flex align-items-center justify-content-between flex-shrink-0 pr-0">
      <span>Procedures</span>
      <div class="d-flex align-items-center">
        <button class="btn btn-sm btn-link line-height-1 p-0 mr-2">Add</button>
        <button class="btn rounded-0 btn-sm bg-green-ihc text-white">Save</button>
        <button class="btn btn-sm btn-dark top-right-radius">Cancel</button>
      </div>
    </div>
    <div class="d-flex border-bottom flex-shrink-0 p-2">
      <div class="form-group flex-grow-1 mb-0">
        <input class="form-control" type="text" placeholder="Add Procedure">
      </div>
      <!-- <button class="btn btn-sm btn-success ml-1" type="button"><i class="far fa-save"></i></button>
        <button class="btn btn-sm btn-danger ml-1" type="button"><i class="fas fa-times"></i></button> -->
    </div>
    <div class="flex-grow-1 overflow-auto">
      <table class="table light-striped-border">
        <tbody>
          <tr>
            <td width="10%">G0402</td>
            <td>Initial preventive physical examination</td>
            <td class="text-right">
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>G0402</td>
            <td>Initial preventive physical examination</td>
            <td class="text-right">
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>G0402</td>
            <td>Initial preventive physical examination</td>
            <td class="text-right">
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>G0402</td>
            <td>Initial preventive physical examination</td>
            <td class="text-right">
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td>G0402</td>
            <td>Initial preventive physical examination</td>
            <td class="text-right">
              <button class="btn btn-link fz-14 text-danger line-height-1 p-0"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border rounded bg-white d-flex flex-column flex-1 max-height-100 ml-2">
    <div class="rounded-box-title-bar border-bottom d-flex align-items-center justify-content-between flex-shrink-0 pr-0">
      <span>Providers</span>
      <div class="d-flex align-items-center">
        <button class="btn btn-sm btn-link line-height-1 p-0 mr-2">Edit</button>
        <button class="btn rounded-0 btn-sm bg-green-ihc text-white">Save</button>
        <button class="btn btn-sm btn-dark top-right-radius">Cancel</button>
      </div>
    </div>

    <div class="flex-grow-1 overflow-auto">
      <table class="table layout-fixed light-striped-border">
        <tbody>
          <tr>
            <td width="10%">
              <div class="custom-checkbox green-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label top-09-rem" for="customCheck1">&nbsp;</label>
              </div>
            </td>
            <td>User Full Name</td>
          </tr>
          <tr>
            <td>
              <div class="custom-checkbox green-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label top-09-rem" for="customCheck1">&nbsp;</label>
              </div>
            </td>
            <td>User Full Name</td>
          </tr>
          <tr>
            <td>
              <div class="custom-checkbox green-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label top-09-rem" for="customCheck1">&nbsp;</label>
              </div>
            </td>
            <td>User Full Name</td>
          </tr>
          <tr>
            <td>
              <div class="custom-checkbox green-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label top-09-rem" for="customCheck1">&nbsp;</label>
              </div>
            </td>
            <td>User Full Name</td>
          </tr>
          <tr>
            <td>
              <div class="custom-checkbox green-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label top-09-rem" for="customCheck1">&nbsp;</label>
              </div>
            </td>
            <td>User Full Name</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>